<!DOCTYPE html>
<html>
  <head>
    <title>User</title>

  </head>
  <body>
    <div>


      <%= link_to "Add User" , "/users/add_form" %>
      <%= link_to "Delete User" , "/users/delete_form" %>
      <%= link_to "List Users" , "/users/list" %>
      <%= link_to "View Ratings" , "/equipments/list" %>
    </div>
  </body>

</html>